In [1]:
import cv2
import pytesseract
import pandas as pd
import numpy as np
from PIL import Image

pytesseract.pytesseract.tesseract_cmd = r'C:\Users\HP\AppData\Local\Tesseract-OCR\tesseract.exe'


def extract_text_from_image(image_path):
    
    image = cv2.imread(image_path)

    if image is None:
        print("Error: Unable to load the image.")
        return None

   
    gray = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)
    thresh = cv2.threshold(gray, 0, 255, cv2.THRESH_BINARY + cv2.THRESH_OTSU)[1]

   
    extracted_text = pytesseract.image_to_string(thresh)

    return extracted_text


image_path = 'D:/sql/Data set/images/id-3.PNG'  


extracted_text = extract_text_from_image(image_path)

if extracted_text:
    print("Extracted Text:")
    print(extracted_text)
else:
    print("Text extraction failed.")

Extracted Text:
JAMHURI YA MUUNGANO WA TANZANIA
KITAMBULISHO CHA TAIFA % 4
.째 THE UNITED REPUBLIC OF TANZANIA
CITIZEN IDENTITY CARD

219501007-11101-00001-26

JINA LA KWANZA: JAKAYA
= First Name

LU MAINA YA KAT. MRISHO-
OL Middle Name

D wa camwso: KIKWETE
Last Name

JINSI: M
Sex

MWISHO WA MATUMIZI: 07 FEB 2023
Expiry Date

In [2]:
extracted_text.splitlines()

['JAMHURI YA MUUNGANO WA TANZANIA',
 'KITAMBULISHO CHA TAIFA % 4',
 '.째 THE UNITED REPUBLIC OF TANZANIA',
 'CITIZEN IDENTITY CARD',
 '',
 '219501007-11101-00001-26',
 '',
 'JINA LA KWANZA: JAKAYA',
 '= First Name',
 '',
 'LU MAINA YA KAT. MRISHO-',
 'OL Middle Name',
 '',
 'D wa camwso: KIKWETE',
 'Last Name',
 '',
 'JINSI: M',
 'Sex',
 '',
 'MWISHO WA MATUMIZI: 07 FEB 2023',
 'Expiry Date',
 '']

In [3]:
columns_lst = [["Country", "Name", "ID", "Gender"],
               [extracted_text.splitlines()[0], extracted_text.splitlines()[2], extracted_text.splitlines()[7], extracted_text.splitlines()[21]]]

df = pd.DataFrame(columns_lst, columns=["Country", "Name", "ID", "Gender"])
df

,Country,Name,ID,Gender
0,Country,Name,ID,Gender
1,JAMHURI YA MUUNGANO WA TANZANIA,.째 THE UNITED REPUBLIC OF TANZANIA,JINA LA KWANZA: JAKAYA,